<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->

<div style='margin-top: 2em; margin-bottom: 1em;'>
<p>사이드 프로젝트</p>
</div>
  <li>
    <a href="https://kabkee.github.io/vue-rock-scissors-paper-game/" target='_blank' itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="fas fa-gamepad" aria-hidden="true"></i> Vue 가위바위보 게임
    </a>
  </li>
